@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100;400;700&family=Roboto:wght@400&display=swap');

/* Reset de estilos para remover margens e preenchimentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto serif', sans-serif;
}

/* Estilos para o cabeçalho */
header {
    background-color: #252525;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto' sans-serif;  
}

figure img {
    height: 77px;
    width: 106px;
    padding-left: 40px;
    margin-top: 8px;
}

header figure {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1{
    color: white;
    font-weight: bold;
    margin-left: 10px;
    font-size: 20px;
}

header nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

/* Estilo para os ícones de redes sociais */
.icones {
    margin-right: 40px;
    width: 30px;
    height: 30px;
  }

/* PRIMEIRO PET - banner*/

.banner{
    background-image: url("./img/birthday-hat-dog.png");/* imagem de fundo */
    background-size: cover;/* Ajusta o tamanho da imagem para cobrir todo o banner */
    background-repeat: no-repeat;
    background-position: center;
    display: flex; /* Define o comportamento do flexbox para organizar os elementos */
    align-items: center;/* Centraliza os elementos horizontalmente */
    justify-content: center;
    flex-direction: column;/* Define a direção da flexão como vertical (coluna) */
    height: 130vh;
   
}
/* Estilos para o 'h2' dentro do banner */
.banner h2{
    font-weight: 800;
    position: relative;
    bottom: 30vh;
    width: 60vw;
    height: 18vh;
    font-size: 3rem; /*Tamanho do h2*/
    text-align: center;/* Alinhamento do texto */
    color: #fff;
}

/* Estilos para a tag figure */
figure .logopet1{
    width: 180px; /* Defina a largura conforme necessário */
    height: auto;
    position: relative; /* Define a posição relativa para o contêiner */
    right: 25px; /* Define a distância da borda direita do contêiner pai */
    bottom:100px;
}


/* SEGUNDO PET */
.anuncio{
    background-image: url("./img/dog-with-animal-hat.png");
    display: flex;
    align-items:center;
    background-size: cover;/* Ajusta o tamanho da imagem para cobrir todo o anuncio */
    background-repeat: no-repeat; /*para nao repetir a imagem */
    height: 130vh; /*altura*/
}

article{
    position: relative;
    left: 90px;
}

.anuncio h3{
    color: #3A342F;
    font-size: 3rem;
    width: 50vw;
    margin-bottom: 34px;
}

.anuncio p{
    font-weight: 500;
    font-size: 2rem;
    width: 42vw;
    color: #3A342F;
}

.fale-conosco{
    background-color:  #3A342F;
    width: 22vw;
    height: 16vh;
    border: none;
    border-radius: 50px;
    font-size: 2rem;
    font-weight: 700;
    position: relative;
    top: 60px;
    transition: 500ms;
    color: #FFFFFF;

}


/* TERCEIRO PET */
.poster{
    background-image: url("./img/dog-on-the-side.png");
    display: flex;
    align-items:center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: flex-end;
    height: 170vh;/*altura*/
    width: auto;/*largura*/
}

div .terceiro-pet{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

 .terceiro-pet h4{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 3.4rem;
    width: 28vw;
    padding: 72px;/*preenchimento entre o conteúdo de um elemento e suas bordas*/
   height: 28vh;
}

.terceiro-pet p{
    color: #ffffff;
    font-size: 1.8rem;
    width: 42vw;/*largura*/
    padding: 60px; 
    height: 60vh;/*altura*/
    margin-right: 90px;
}
 
.fale-conosco2{
    background-color: #FFFFFF;
    color: #252525;
    width: 18vw;
    height: 15vh;
    border: none;/*para remover a borda de um elemento*/
    border-radius: 50px;
    font-size: 2rem;
    font-weight: 500;
    margin-left: 8vh;
    transition: 500ms;
}


 /*------ Patrocinio ------*/

.apoio{
    height: 24vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}

.apoio-conteudo{
   color: #FD6A9A;
   font-size: 26px;
   cursor: pointer;
   display: flex;
   width: 26vw;
  justify-content: space-around;
  text-align: center;
  font-style: italic;
}

.patrocinio-havaianas {
    color: #FD6A9A;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 22vw;
    
}

.patrocinio-americanas {
    color: #FD6A9A;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 30vw;
}

/* ------RÓDAPE ------*/

footer {
    background-color: #E54979;
    display: flex;
    align-items: center;
    gap: 70px;
    height: 314px;
    padding-left: 147px;
}

footer nav {
    flex-direction: column;
    display: flex;
}

footer a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    color: white;
}

footer h5 {
    margin-bottom: 33px;
    font-size: 27px;
    font-weight: 700;
    font-family: "Roboto Serif", serif;
    color: white;
}

.logo-icon{
    display: flex;
    align-items: center;
    
}
.logo-icon img{
    height: 160px;
    width: 130px;
    margin-left: 160px;
}

.copyright{
    background-color: #E54979;
    height: 40px;
}

.copyright p{
    color: #fff;
    text-align: center;
}


















